@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.header-body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
.max-width {
  width: 1100px;
  margin: 0px auto;
}
.absolute-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.header-logo {
  height: 65px;
  max-width: 180px;
  margin-right: 24px;
}
.header-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.header-location-search-box {
  height: 54px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(232, 232, 232);
  box-shadow: rgb(28 28 28 / 8%) 0px 2px 8px;
  width: 70%;
  background-color: rgb(255, 255, 255);
}
.location-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0px 10px;
}
.location-icon-name {
  color: #828282;
}
.location-icon {
  color: #ff7e8b;
  font-size: 20px;
  margin-right: 8px;
}
.separater {
  height: 20px;
  border: 0.5px solid #828282;
}
.header-search-box {
  display: flex;
  flex: 2;
}
.search-icon {
  color: #828282;
  font-size: 20px;
  margin: 0px 12px;
}
.search-input-box {
  border: none;
  outline: none;
  font-size: 14px;
  width: 60%;
}
.profile-box {
  display: flex;
  justify-content: center;
  width: 13%;
  align-items: center;
}
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-name {
  color: rgb(54, 53, 53);
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;
}
.cart-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-icon i {
  font-size: 27px;
  color: rgb(0, 0, 0);
}

.cart-box i:hover {
  color: #595858;
  cursor: pointer;
}
.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout-btn i {
  color: black;
  font-size: 25px;
}

.logout-btn i:hover {
  color: #595858;
}

.logout-btn:active {
  transform: scale(0.98);
}
